<html>
<head>
<title>Detection of Fake Online Reviews using Semi-Supervised and Supervised Learning</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../static/style.css"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Detection of Fake Online Reviews using Semi-Supervised and Supervised Learning</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="index">Home</a></li>
	 	
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="static/images/investor.jpg" width="870" height="230" alt="" />
	</div>
	<br/>
   <h3><b>View Review Result Screen</b></h3>
   <font size="" color="red"><center>{{ msg1}}</center></font>
	<br/>
	{{ msg|safe }}
	</table><br/><br/><br/><br/><br/><br/><br/>
</p>
</body>
</html>